In [1]:
using DataFrames

First construction method: data first, column names after

In [4]:
bases = ["A", "T", "C", "G"];

In [7]:
numdata1 = 1000
df1 = DataFrame(Any[
        1:numdata1, rand(bases, numdata1), rand(numdata1)], [:ID, :base, :RV1])
head(df1, 5)

5×3 DataFrames.DataFrame
│ Row │ ID │ base │ RV1      │
├─────┼────┼──────┼──────────┤
│ 1   │ 1  │ T    │ 0.314453 │
│ 2   │ 2  │ G    │ 0.780857 │
│ 3   │ 3  │ T    │ 0.270262 │
│ 4   │ 4  │ C    │ 0.72186  │
│ 5   │ 5  │ A    │ 0.786031 │

Second construction method: `columnNames = DataArr`

In [9]:
numdata2 = 1234
df2 = DataFrame(ID = 1:numdata2, base = rand(bases, numdata2), RV2 = rand(5:9, numdata2), Normal = rand(Bool, numdata2))
head(df2, 5)

5×4 DataFrames.DataFrame
│ Row │ ID │ base │ RV2 │ Normal │
├─────┼────┼──────┼─────┼────────┤
│ 1   │ 1  │ C    │ 7   │ true   │
│ 2   │ 2  │ C    │ 5   │ true   │
│ 3   │ 3  │ A    │ 5   │ false  │
│ 4   │ 4  │ T    │ 5   │ false  │
│ 5   │ 5  │ G    │ 8   │ true   │

Cross join above table `head`s, no id is needed, just take Cartesian product.  To see this, observe columns "ID" and "ID_1".  Add `makeunique=true` if two tables have common column name.

In [16]:
xdf = join(df1[1:5,:], df2[1:5,:], kind = :cross, makeunique=true)

25×7 DataFrames.DataFrame
│ Row │ ID │ base │ RV1      │ ID_1 │ base_1 │ RV2 │ Normal │
├─────┼────┼──────┼──────────┼──────┼────────┼─────┼────────┤
│ 1   │ 1  │ T    │ 0.314453 │ 1    │ C      │ 7   │ true   │
│ 2   │ 1  │ T    │ 0.314453 │ 2    │ C      │ 5   │ true   │
│ 3   │ 1  │ T    │ 0.314453 │ 3    │ A      │ 5   │ false  │
│ 4   │ 1  │ T    │ 0.314453 │ 4    │ T      │ 5   │ false  │
│ 5   │ 1  │ T    │ 0.314453 │ 5    │ G      │ 8   │ true   │
│ 6   │ 2  │ G    │ 0.780857 │ 1    │ C      │ 7   │ true   │
│ 7   │ 2  │ G    │ 0.780857 │ 2    │ C      │ 5   │ true   │
│ 8   │ 2  │ G    │ 0.780857 │ 3    │ A      │ 5   │ false  │
│ 9   │ 2  │ G    │ 0.780857 │ 4    │ T      │ 5   │ false  │
│ 10  │ 2  │ G    │ 0.780857 │ 5    │ G      │ 8   │ true   │
│ 11  │ 3  │ T    │ 0.270262 │ 1    │ C      │ 7   │ true   │
│ 12  │ 3  │ T    │ 0.270262 │ 2    │ C      │ 5   │ true   │
│ 13  │ 3  │ T    │ 0.270262 │ 3    │ A      │ 5   │ false  │
│ 14  │ 3  │ T    │ 0.270262 │ 4    │ T      │ 5   │ false  │
│ 15  │ 3  │ T    │ 0.270262 │ 5    │ G      │ 8   │ true   │
│ 16  │ 4  │ C    │ 0.72186  │ 1    │ C      │ 7   │ true   │
│ 17  │ 4  │ C    │ 0.72186  │ 2    │ C      │ 5   │ true   │
│ 18  │ 4  │ C    │ 0.72186  │ 3    │ A      │ 5   │ false  │
│ 19  │ 4  │ C    │ 0.72186  │ 4    │ T      │ 5   │ false  │
│ 20  │ 4  │ C    │ 0.72186  │ 5    │ G      │ 8   │ true   │
│ 21  │ 5  │ A    │ 0.786031 │ 1    │ C      │ 7   │ true   │
│ 22  │ 5  │ A    │ 0.786031 │ 2    │ C      │ 5   │ true   │
│ 23  │ 5  │ A    │ 0.786031 │ 3    │ A      │ 5   │ false  │
│ 24  │ 5  │ A    │ 0.786031 │ 4    │ T      │ 5   │ false  │
│ 25  │ 5  │ A    │ 0.786031 │ 5    │ G      │ 8   │ true   │

Left and right (outer) joins

In [27]:
ldf = join(df1[1:5,:], df2[1:5,:], on=:ID, kind=:left, makeunique=true)

5×6 DataFrames.DataFrame
│ Row │ ID │ base │ RV1      │ base_1 │ RV2 │ Normal │
├─────┼────┼──────┼──────────┼────────┼─────┼────────┤
│ 1   │ 1  │ T    │ 0.314453 │ C      │ 7   │ true   │
│ 2   │ 2  │ G    │ 0.780857 │ C      │ 5   │ true   │
│ 3   │ 3  │ T    │ 0.270262 │ A      │ 5   │ false  │
│ 4   │ 4  │ C    │ 0.72186  │ T      │ 5   │ false  │
│ 5   │ 5  │ A    │ 0.786031 │ G      │ 8   │ true   │

A different column is chosen to show the difference between left and right joins.  Note the difference of number of rows.  Focus on column "base".

In [22]:
rdf = join(df1[1:5,:], df2[1:5,:], on=:base, kind=:right, makeunique=true)

6×6 DataFrames.DataFrame
│ Row │ ID │ base │ RV1      │ ID_1 │ RV2 │ Normal │
├─────┼────┼──────┼──────────┼──────┼─────┼────────┤
│ 1   │ 4  │ C    │ 0.72186  │ 1    │ 7   │ true   │
│ 2   │ 4  │ C    │ 0.72186  │ 2    │ 5   │ true   │
│ 3   │ 5  │ A    │ 0.786031 │ 3    │ 5   │ false  │
│ 4   │ 1  │ T    │ 0.314453 │ 4    │ 5   │ false  │
│ 5   │ 3  │ T    │ 0.270262 │ 4    │ 5   │ false  │
│ 6   │ 2  │ G    │ 0.780857 │ 5    │ 8   │ true   │

The above example *can't* illustrate "outer".

In [23]:
rdf2 = join(df1[1:3,:], df2[1:3,:], on=:base, kind=:right, makeunique=true)

3×6 DataFrames.DataFrame
│ Row │ ID      │ base │ RV1     │ ID_1 │ RV2 │ Normal │
├─────┼─────────┼──────┼─────────┼──────┼─────┼────────┤
│ 1   │ missing │ C    │ missing │ 1    │ 7   │ true   │
│ 2   │ missing │ C    │ missing │ 2    │ 5   │ true   │
│ 3   │ missing │ A    │ missing │ 3    │ 5   │ false  │

It's possible to merge on multiple columns.

In [26]:
ldf2 = join(df1[1:5,:], df2[1:5,:], on=[:ID, :base], kind=:left)

5×5 DataFrames.DataFrame
│ Row │ ID │ base │ RV1      │ RV2     │ Normal  │
├─────┼────┼──────┼──────────┼─────────┼─────────┤
│ 1   │ 1  │ T    │ 0.314453 │ missing │ missing │
│ 2   │ 2  │ G    │ 0.780857 │ missing │ missing │
│ 3   │ 3  │ T    │ 0.270262 │ missing │ missing │
│ 4   │ 4  │ C    │ 0.72186  │ missing │ missing │
│ 5   │ 5  │ A    │ 0.786031 │ missing │ missing │

This inner join checks for same bases at same position for two DNA sequences.

In [30]:
idf = join(df1, df2, on=[:ID, :base], kind=:inner)
head(idf)

6×5 DataFrames.DataFrame
│ Row │ ID │ base │ RV1       │ RV2 │ Normal │
├─────┼────┼──────┼───────────┼─────┼────────┤
│ 1   │ 6  │ A    │ 0.437143  │ 5   │ false  │
│ 2   │ 15 │ G    │ 0.576617  │ 9   │ true   │
│ 3   │ 16 │ T    │ 0.845375  │ 5   │ false  │
│ 4   │ 17 │ A    │ 0.0467277 │ 7   │ false  │
│ 5   │ 18 │ C    │ 0.405109  │ 7   │ true   │
│ 6   │ 24 │ A    │ 0.249679  │ 5   │ true   │

[Outer join = full join](https://stackoverflow.com/q/11714915/3184351) = Union of left and right outer joins

In [36]:
odf = join(df1[1:4,:],df2[1:4,:], on=[:base], kind=:outer, makeunique=true)
head(odf, 10)

6×6 DataFrames.DataFrame
│ Row │ ID      │ base │ RV1      │ ID_1    │ RV2     │ Normal  │
├─────┼─────────┼──────┼──────────┼─────────┼─────────┼─────────┤
│ 1   │ 1       │ T    │ 0.314453 │ 4       │ 5       │ false   │
│ 2   │ 2       │ G    │ 0.780857 │ missing │ missing │ missing │
│ 3   │ 3       │ T    │ 0.270262 │ 4       │ 5       │ false   │
│ 4   │ 4       │ C    │ 0.72186  │ 1       │ 7       │ true    │
│ 5   │ 4       │ C    │ 0.72186  │ 2       │ 5       │ true    │
│ 6   │ missing │ A    │ missing  │ 3       │ 5       │ false   │

(left) semi and anti joins in the book.  [Left semi join vs inner join](https://stackoverflow.com/q/21738784/3184351).  The output of semi join is that of inner join with only columns from left DataFrame.

In [40]:
lsdf = join(df1, df2, on=[:ID, :base], kind=:semi)
head(lsdf)

6×3 DataFrames.DataFrame
│ Row │ ID │ base │ RV1       │
├─────┼────┼──────┼───────────┤
│ 1   │ 6  │ A    │ 0.437143  │
│ 2   │ 15 │ G    │ 0.576617  │
│ 3   │ 16 │ T    │ 0.845375  │
│ 4   │ 17 │ A    │ 0.0467277 │
│ 5   │ 18 │ C    │ 0.405109  │
│ 6   │ 24 │ A    │ 0.249679  │

Invert `df1` and `df2` to do a right anti join.  Observe that it's the complement of semi join (from column "ID").

In [43]:
radf = join(df2, df1, on=[:ID, :base], kind=:anti)
head(radf, 25)

25×4 DataFrames.DataFrame
│ Row │ ID │ base │ RV2 │ Normal │
├─────┼────┼──────┼─────┼────────┤
│ 1   │ 1  │ C    │ 7   │ true   │
│ 2   │ 2  │ C    │ 5   │ true   │
│ 3   │ 3  │ A    │ 5   │ false  │
│ 4   │ 4  │ T    │ 5   │ false  │
│ 5   │ 5  │ G    │ 8   │ true   │
│ 6   │ 7  │ C    │ 7   │ false  │
│ 7   │ 8  │ G    │ 6   │ false  │
│ 8   │ 9  │ A    │ 8   │ false  │
│ 9   │ 10 │ A    │ 9   │ true   │
│ 10  │ 11 │ T    │ 6   │ false  │
│ 11  │ 12 │ T    │ 5   │ false  │
│ 12  │ 13 │ A    │ 7   │ false  │
│ 13  │ 14 │ C    │ 8   │ false  │
│ 14  │ 19 │ T    │ 7   │ false  │
│ 15  │ 20 │ G    │ 5   │ false  │
│ 16  │ 21 │ A    │ 6   │ true   │
│ 17  │ 22 │ A    │ 6   │ false  │
│ 18  │ 23 │ G    │ 8   │ false  │
│ 19  │ 25 │ C    │ 8   │ false  │
│ 20  │ 26 │ A    │ 6   │ false  │
│ 21  │ 27 │ C    │ 6   │ true   │
│ 22  │ 29 │ T    │ 5   │ true   │
│ 23  │ 30 │ C    │ 9   │ false  │
│ 24  │ 31 │ A    │ 8   │ true   │
│ 25  │ 33 │ T    │ 9   │ true   │